@CHARSET "ISO-8859-1";

.header {
	background: #993400;
	height: 50px;
}
a {
    color: #a43708;
}
a:hover {
    color: #a43708;
    text-decoration:underline;
}
a:focus{
	color: #a43708;
}
.navigation-wrapper {
	border-bottom: 1px solid #ccc;
}

.navigation {
	text-align: center;
	background: #000;
}

.inline-list>li {
	display: inline;
	padding: 0px 10px;
	border-right: 1px solid #ccc;
}

.inline-list>li>a {
	color: white;
}

.title {
	padding: 10px;
	color: white;
}

.side-nav li a {
	color: black;
	font-weight: normal;
}

.error {
	border: 5px solid red;
}

.active-link a {
	color: #4d4d4d;
	font-weight: bold;
	text-decoration: underline;
	font-weight: bold !important;
}

.section-container.accordion>section>.title, .section-container.accordion>.section>.title
	{
	background-color: #993400;
	cursor: pointer;
	border: solid 1px #cccccc;
	border-bottom: solid 2px #000;
}

.section-container.accordion>section>.title a, .section-container.accordion>.section>.title a
	{
	padding: 0.375em;
	color: #ffffff;
	font-size: 0.875em;
	background: none;
}

.section-container.auto>section>.title:hover, .section-container.auto>.section>.title:hover,
	.section-container.vertical-tabs>section>.title:hover,
	.section-container.vertical-tabs>.section>.title:hover,
	.section-container.vertical-nav>section>.title:hover,
	.section-container.vertical-nav>.section>.title:hover,
	.section-container.horizontal-nav>section>.title:hover,
	.section-container.horizontal-nav>.section>.title:hover,
	.section-container.accordion>section>.title:hover, .section-container.accordion>.section>.title:hover
	{
	background-color: #000000 !important;
}

.section-container.auto>section.active>.title, .section-container.auto>.section.active>.title,
	.section-container.vertical-tabs>section.active>.title,
	.section-container.vertical-tabs>.section.active>.title,
	.section-container.vertical-nav>section.active>.title,
	.section-container.vertical-nav>.section.active>.title,
	.section-container.horizontal-nav>section.active>.title,
	.section-container.horizontal-nav>.section.active>.title,
	.section-container.accordion>section.active>.title, .section-container.accordion>.section.active>.title
	{
	background: #000000;
}

.section-container.auto>section.active>.title a, .section-container.auto>.section.active>.title a,
	.section-container.vertical-tabs>section.active>.title a,
	.section-container.vertical-tabs>.section.active>.title a,
	.section-container.vertical-nav>section.active>.title a,
	.section-container.vertical-nav>.section.active>.title a,
	.section-container.horizontal-nav>section.active>.title a,
	.section-container.horizontal-nav>.section.active>.title a,
	.section-container.accordion>section.active>.title a,
	.section-container.accordion>.section.active>.title a {
	color: #ffffff;
}

button, .button {
	padding-top: 0.5125em;
	padding-bottom: 0.45em;
	margin-top: 14px;
	padding-left: 3em;
	padding-right: 3em;
	background-color: #993400;
	border-color: #000000;
}

button, .button:hover {
	background-color: #000;
}

button, .button:focus {
	background-color: #000;
}

table tr th, table tr td {
	padding: 0.5625em 0.625em;
	font-size: 0.8em;
	color: #222222;
}

fieldset.details-wrapper>legend {
	color: rgb(175, 38, 54);;
}
.details th {
	text-align: left;
}
ul.pagination {
    border: 1px #ccc solid;
}
ul.pagination li a {
    color: #000;
}
ul.pagination li:hover a, ul.pagination li a:focus {
    background: #993400;
    color: white;
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
    background: #2ba6cb;
}
ul.pagination li {
    border-left: 1px #ccc solid;
}
ul.pagination li.current a {
    color: white;
    font-weight: bold;
    cursor: default;
}
.current-page{
	background:#993400;
	color:white;
	padding: 2px 8px 1px 7px;
}
.excel:before{
    content: url(../images/report.png);
}
.excel {
    color: #a43708;
    font-size: 11px;
    text-decoration: underline;
    font-weight:bold;
}
.excel:hover {
    color: #a43708;
}
