<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>Equity Bank :: KPLC Reports Portal</title>
<head th:fragment="headerFragment">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/foundation.css}" rel="stylesheet" />
<link th:href="@{/css/custom.css}" rel="stylesheet" />
<link th:href="@{/css/jquery-ui.css}" rel="stylesheet" />
<script th:src="@{/js/vendor/custom.modernizr.js}"></script>
<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/Chart.js}"></script>
</head>
<body>
	<div th:fragment="titleFragment">
		<div class="full-width header">
			<div class="large-12 columns">
				<h5 class="title">KPLC PREPAID PORTAL</h5>
			</div>
		</div>
	</div>
	<div class="full-width">
		<div th:fragment="menuFragment">
			<div class="large-2 columns">
				<div class="section-container accordion" data-section="accordion"
					data-options="one_up: false">
					<section class="section" id="dashboard">
						<p class="title" data-section-title="">
							<a href="index.html" th:href="@{/}">Dashboard</a>
						</p>
					</section>
					<section class="section" id="tokenrequests">
						<p class="title" data-section-title="">
							<a href="tokenrequests.html" th:href="@{/tokenrequests/show}">Token
								Requests</a>
						</p>
						<div class="content" data-section-content="">
							<ul class="side-nav">
								<li id="show"><a href="tokenrequests.html"
									th:href="@{/tokenrequests/show}">View</a></li>
								<li class="divider"></li>
								<li id="search"><a href="searchtokenrequests.html"
									th:href="@{/tokenrequests/search.do}">Search</a></li>
							</ul>
						</div>
					</section>
					<section class="section" id="tokenreversals">
						<p class="title" data-section-title="">
							<a href="tokenreversals.html" th:href="@{/tokenreversals/show}">Token
								Reversals</a>
						</p>
						<div class="content" data-section-content="">
							<ul class="side-nav">
								<li id="showtrv"><a href="tokenreversals.html"
									th:href="@{/tokenreversals/show}">Show</a></li>
								<li class="divider"></li>
								<li id="searchtrv"><a href="searchtokenreversals.html"
									th:href="@{/tokenreversals/search.do}">Search</a></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="large-10 columns" id="load-tab">
			<div layout:fragment="content"></div>
		</div>
	</div>	

	<div th:fragment="footerFragment">
		<script th:src="@{/js/vendor/zepto.js}"></script>
		<script th:src="@{/js/foundation.min.js}"></script>
	</div>
	<div layout:fragment="modal"></div>
	<div layout:fragment="scripts"></div>
</body>
</html>