<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head th:include="layout :: headerFragment">
</head>

<body>

	<div th:include="layout :: titleFragment"></div>
	<div class="full-width">
		<div th:include="layout :: menuFragment"></div>
		<div layout:fragment="content">	
		<h5>Search Token Request</h5>		
			<div class="row" th:if='${page}!=null'>
				<div class="large-1 large-offset-11 columns">
					<a id="exportbtn" class="excel" title="Export to Excel">Export</a>
				</div>
			</div>
			<fieldset>
				<legend>Search Request By:</legend>
				<!-- action="/tokenrequests/search" -->
				<form data-abide="" method="post">
					<div class="large-3 columns">
						<label>Date From:</label> <input type="text" name="dateStart"
							value="" required="required" class="needed date" id="dateStart"
							placeholder="dd/mm/yyyy"></input>
					</div>

					<div class="large-3 columns">
						<label>Date To:</label> <input type="text" name="dateEnd" value=""
							required="required" class="needed date" id="dateEnd"
							placeholder="dd/mm/yyyy"></input>
					</div>

					<div class="large-3 columns">
						<label>Phone Number:</label> <input type="text" name="phoneNo"
							value="" required="required" class="needed" id="phoneNo"></input>
					</div>

					<div class="large-3 columns">
						<!-- <input type="submit" id="searchbtn" class="button round" value="Search"></input> -->
						<a id="searchbtn" class="button round">Search</a>						
					</div>
				</form>
			</fieldset>
			<fieldset>
				<legend>Search Results</legend>
				<div class="row">
					<div class="large-12 columns">
						<table style="width: 100%;">
							<thead>
								<tr>
									<th>Meter Number</th>
									<th>Transaction Ref</th>
									<th>Amount</th>
									<th>Date Received</th>
									<th>Phone Number</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody th:if='${page}!=null'>
								<tr th:each="tokenrequest : ${page.content}">
									<td th:text="${tokenrequest.meterno}"></td>
									<td th:text="${#strings.substring(tokenrequest.transactionRef,8,#strings.length(tokenrequest.transactionRef)-1)}"></td>
									<td th:text="${tokenrequest.amount}"></td>
									<td th:text="${tokenrequest.dateReceived}"></td>
									<td th:text="${tokenrequest.phoneNo}"></td>
									<td th:switch="${tokenrequest.responseCode}"><span
										th:case="'elec000'">Success</span> <span th:case="*">Failure</span>
									</td>
									<td><a
										th:href="@{|/tokenrequests/search/${tokenrequest.id}|}">Details</a></td>
								</tr>
							</tbody>
						</table>
						<div th:fragment='paginationbar'>
							<div th:if='${page}!=null' class='pagination-centered'>
								<ul class="pagination">
									<li th:class='${page.firstPage}'><span
										th:if='${page.firstPage}'>← First</span> <a
										th:if='${not page.firstPage}'
										th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a></li>
									<li th:class='${page.hasPreviousPage}'><span
										th:if='${not page.hasPreviousPage}'>«</span> <a
										th:if='${page.hasPreviousPage}'
										th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
										title='Go to previous page'>«</a></li>
									<li th:each='item : ${page.items}' th:class='${item.current}'>
										<span th:if='${item.current}' th:text='${item.number}'
										th:class='current-page'>1</span> <a
										th:if='${not item.current}'
										th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
											th:text='${item.number}'>1</span></a>
									</li>
									<li th:class='${page.hasNextPage}'><span
										th:if='${not page.hasNextPage}'>»</span> <a
										th:if='${page.hasNextPage}'
										th:href='@{${page.url}(page=${page.number},size=${page.size})}'
										title='Go to next page'>»</a></li>
									<li th:class='${page.lastPage}'><span
										th:if='${page.lastPage}'>Last →</span> <a
										th:if='${not page.lastPage}'
										th:href='@{${page.url}(page=${page.totalPages-1},size=${page.size})}'>Last
											→</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<span th:include="layout :: footerFragment"></span>
	<div layout:fragment="modal"></div>
	<div layout:fragment="scripts">
		<script type="text/javascript">
			var base_url = window.location.origin;

			$(function() {
				$('#dateStart').datepicker({
					dateFormat : 'yy-mm-dd'
				});
				$('#dateEnd').datepicker({
					dateFormat : 'yy-mm-dd'
				});
			});

			$(document).ready(function() {
				$('#tokenrequests').addClass('active');
				$('#search').addClass('active-link');
			});

			$(function() {
				$('#searchbtn').click(
						function(event) {
							//event.preventDefault();
							if ($('#dateStart').val().length > 0) {
								var phoneNo = $('#phoneNo').val();
								console.log('phone -  ' + phoneNo);

								if ($('#dateStart').val().length > 0) {
									var dateStart = $('#dateStart').val();
									$('#dateStart').removeClass('error')
								} else {
									$('#dateStart').addClass('error')
									return;
								}
								if ($('#dateEnd').val().length > 0) {
									var dateEnd = $('#dateEnd').val();
								} else {
									$('#dateEnd').addClass('error')
									return;
								}

								if ($('#phoneNo').val().length > 0) {
									window.location.replace(base_url
											+ "/tokenrequests/search/"
											+ phoneNo + "/" + dateStart + "/"
											+ dateEnd);
								} else {
									window.location.replace(base_url
											+ "/tokenrequests/search/"
											+ dateStart + "/" + dateEnd);
								}

							} else {
								$('#dateStart').addClass('error')
								return;
							}
						});
			});
			
			
			$(function() {
				var params = {};
				$('#exportbtn').click(
					function(event) {
						//event.preventDefault();
						if ($('#dateStart').val().length > 0) {
							var phoneNo = $('#phoneNo').val();

							if ($('#dateStart').val().length > 0) {
								var dateStart = $('#dateStart').val();
								$('#dateStart').removeClass('error')
							} else {
								$('#dateStart').addClass('error')
								return;
							}
							if ($('#dateEnd').val().length > 0) {
								var dateEnd = $('#dateEnd').val();
							} else {
								$('#dateEnd').addClass('error')
								return;
							}

							if ($('#phoneNo').val().length > 0) {
								window.location.replace(base_url
										+ "/tokenrequests/search/"
										+ phoneNo + "/" + dateStart + "/"
										+ dateEnd);
							} else {
								window.location.replace(base_url
										+ "/tokenrequests/TransactionsByDate/"
										+ dateStart + "/" + dateEnd);						
							}
						} else {
							$('#dateStart').addClass('error')
							return;
						}
					});
			});
			
			
			
			
			

			$(function() {
				var params = {};
				$('#searchbt')
						.click(
								function(event) {
									event.preventDefault();
									params.phoneNo = $('#phoneNo').val();
									params.dateStart = $('#dateStart').val();
									params.dateEnd = $('#dateEnd').val();
									console.log(JSON.stringify(params));
									$
											.ajax({
												type : "POST",
												contentType : "application/json; charset=utf-8",
												url : base_url
														+ "/tokenrequests/search",
												data : JSON.stringify(params),
												success : function(response) {
													console.log(response);
													window.location
															.replace(base_url
																	+ "/searchtokenrequests")
												}
											});
								});
			});
		</script>
	</div>
</body>
</html>