<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head th:include="layout :: headerFragment">
</head>

<body>

	<div th:include="layout :: titleFragment"></div>
	<div class="full-width">
		<div th:include="layout :: menuFragment"></div>
		<div layout:fragment="content">
			<h5>Search Token Reversals</h5>
			<fieldset>
				<legend>Search By:</legend>
				<!-- action="/tokenrequests/search" -->
				<form data-abide="" method="post">
					<div class="large-3 columns">
						<label>Date From:</label> <input type="text" name="dateStart"
							value="" required="required" class="needed date" id="dateStart"
							placeholder="dd/mm/yyyy"></input>
					</div>

					<div class="large-3 columns">
						<label>Date To:</label> <input type="text" name="dateEnd" value=""
							required="required" class="needed date" id="dateEnd"
							placeholder="dd/mm/yyyy"></input>
					</div>

					<div class="large-3 columns">
						<label>Meter Number:</label> <input type="text" name="meterNo"
							value="" required="required" class="needed" id="meterNo"></input>
					</div>

					<div class="large-3 columns">
						<!-- <input type="submit" id="searchbtn" class="button round" value="Search"></input> -->
						<a id="searchbtn" class="button round">Search</a>
					</div>
				</form>
			</fieldset>
			<fieldset>
				<legend>Search Results</legend>
				<div class="row">
					<div class="large-12 columns">
						<table style="width: 100%;" id="requests_show">
							<thead>
								<tr>
									<th>Meter Number</th>
									<th>Transaction Ref</th>
									<th>Customer Message</th>
									<th>Date Requested</th>
									<th>Date Received</th>
									<th>Retries</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tokenreversal : ${tokenreversals}">
									<td th:text="${tokenreversal.meterNumber}"></td>
									<td th:text="${tokenreversal.transactionRef}"></td>
									<td th:text="${tokenreversal.message}"></td>
									<td th:text="${tokenreversal.dateRequested}"></td>
									<td th:text="${tokenreversal.dateReceived}"></td>
									<td th:text="${tokenreversal.retries}"></td>
									<td th:text="${tokenreversal.status}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<div layout:fragment="modal"></div>
	<span th:include="layout :: footerFragment"></span>
	<div layout:fragment="scripts">
		<script>
			var base_url = window.location.origin;

			$(function() {
				$('#dateStart').datepicker({
					dateFormat : 'yy-mm-dd'
				});
				$('#dateEnd').datepicker({
					dateFormat : 'yy-mm-dd'
				});
			});

			$(document).ready(function() {
				$('#tokenreversals').addClass('active');
				$('#searchtrv').addClass('active-link');
			});

			$(function() {
				$('#searchbtn').click(
						function(event) {
							//event.preventDefault();
							if ($('#meterNo').val().length > 0) {
								var meterNo = $('#meterNo').val();

								if ($('#dateStart').val().length > 0) {
									var dateStart = $('#dateStart').val();
									$('#dateStart').removeClass('error')
								} else {
									$('#dateStart').addClass('error')
									return;
								}
								if ($('#dateEnd').val().length > 0) {
									var dateEnd = $('#dateEnd').val();
								} else {
									$('#dateEnd').addClass('error')
									return;
								}
								window.location.replace(base_url
										+ "/tokenreversals/search/" + meterNo
										+ "/" + dateStart + "/" + dateEnd);
							} else {
								$('#meterNo').addClass('error')
								return;
							}
						});
			});
		</script>
	</div>
</body>
</html>