<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head th:fragment="headerFragment">
</head>

<body>
	<div th:include="layout :: titleFragment"></div>
	<div class="full-width">
		<div th:include="layout :: menuFragment"></div>
		<div layout:fragment="content">
			<div class="row">
				<div class="large-6 large-centered columns"
					style="text-align: center;">
					<h4>TRANSACTION INFORMATION</h4>
				</div>
			</div>
			<fieldset class="details-wrapper">
				<legend>Transaction</legend>
				<table style="width: 100%;" class="details">
					<thead>
						<tr>
							<th>Transaction ID</th>
							<th>Meter No.</th>
							<th>Transaction Ref</th>
							<th>Transaction Date</th>
							<th>Amount</th>
							<th>Phone Number</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tokenrequest : ${tokenrequests}">
							<td th:text="${tokenrequest.transactionRef}"></td>
							<td th:text="${tokenrequest.meterno}"></td>
							<td th:text="${tokenrequest.transactionRef}"></td>
							<td th:text="${tokenrequest.dateRequested}"></td>
							<td th:text="${tokenrequest.amount}"></td>
							<td th:text="${tokenrequest.phoneNo}"></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
			<fieldset class="details-wrapper">
				<legend>Token Details</legend>
				<table style="width: 100%;" class="details">
					<tbody>
						<tr th:each="tokenrequest : ${tokenrequests}">
							<th>Date Requested</th>
							<td th:text="${tokenrequest.dateRequested}"></td>
							<th>Date Received</th>
							<td th:text="${tokenrequest.dateReceived}"></td>
						</tr>
						<tr th:each="tokenrequest : ${tokenrequests}">
							<th>Token Status</th>
							<td th:text="${tokenrequest.responseCode}"></td>
							<th>Token</th>
							<td th:text="${tokenrequest.token}"></td>
						</tr>
						<tr th:each="tokenrequest : ${tokenrequests}">
							<th>Token Details</th>
							<td th:text="${tokenrequest.tokenDetails}"></td>
							<th>Units</th>
							<td th:text="${tokenrequest.units}"></td>
						</tr>
						<tr>
							<th colspan="4">Customer Details</th>
						</tr>
						<tr th:each="tokenrequest : ${tokenrequests}">
							<td th:text="${tokenrequest.customerDetails}"></td>
						</tr>
						<tr>
							<th colspan="4">Customer Message</th>
						</tr>
						<tr th:each="tokenrequest : ${tokenrequests}">
							<td colspan="4" th:text="${tokenrequest.customerMessage}"></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>

	<div layout:fragment="modal"></div>
	<span th:include="layout :: footerFragment"></span>
	<div layout:fragment="scripts">
		<script>
			$(document).foundation();
			$(document).ready(function() {
				$('#tokenrequests').addClass('active');
				$('#show').addClass('active-link');
			});
		</script>
	</div>
</body>
</html>