<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head th:include="layout :: headerFragment">
</head>

<body>

	<div th:include="layout :: titleFragment"></div>
	<div class="full-width">
		<div th:include="layout :: menuFragment"></div>
		<div layout:fragment="content">
			<div class="row">
				<div class="large-1 large-offset-11 columns">
					<a th:href="@{|/tokenrequests/Transactions|}" class="excel" title="Export to Excel">Export</a>
				</div>
			</div>
			<fieldset>
				<legend>View Token Requests</legend>
				<!-- <input type="button" id="btnExport" value=" Export"></input> -->
				<table style="width: 100%;" id="tbl">
					<thead>
						<tr>
							<th>Meter Number</th>
							<th>Transaction Ref</th>
							<th>Amount</th>
							<th>Date Received</th>
							<th>Phone Number</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tokenrequest : ${page.content}">
							<td th:text="${tokenrequest.meterno}"></td>
							<td th:text="${#strings.substring(tokenrequest.transactionRef,8,#strings.length(tokenrequest.transactionRef)-1)}"></td>
							<td th:text="${tokenrequest.amount}"></td>
							<td th:text="${tokenrequest.dateReceived}"></td>
							<td th:text="${tokenrequest.phoneNo}"></td>
							<td th:switch="${tokenrequest.responseCode}">
								<span th:case="'elec000'">Success</span>
								<span th:case="*">Failure</span>
							</td>
							<td><a
								th:href="@{|/tokenrequests/search/${tokenrequest.id}|}">Details</a></td>
						</tr>
					</tbody>
				</table>
				<div th:fragment='paginationbar'>
					<div th:if='${page}!=null' class='pagination-centered'>
						<ul class="pagination">
							<li th:class='${page.firstPage}'><span
								th:if='${page.firstPage}'>← First</span> <a
								th:if='${not page.firstPage}'
								th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a></li>
							<li th:class='${page.hasPreviousPage}'><span
								th:if='${not page.hasPreviousPage}'>«</span> <a
								th:if='${page.hasPreviousPage}'
								th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
								title='Go to previous page'>«</a></li>
							<li th:each='item : ${page.items}' th:class='${item.current}'>
								<span th:if='${item.current}' th:text='${item.number}'
								th:class='current-page'>1</span> <a th:if='${not item.current}'
								th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
									th:text='${item.number}'>1</span></a>
							</li>
							<li th:class='${page.hasNextPage}'><span
								th:if='${not page.hasNextPage}'>»</span> <a
								th:if='${page.hasNextPage}'
								th:href='@{${page.url}(page=${page.number},size=${page.size})}'
								title='Go to next page'>»</a></li>
							<li th:class='${page.lastPage}'><span
								th:if='${page.lastPage}'>Last →</span> <a
								th:if='${not page.lastPage}'
								th:href='@{${page.url}(page=${page.totalPages-1},size=${page.size})}'>Last
									→</a></li>
						</ul>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div layout:fragment="modal">
		<div id="detailsModal" class="reveal-modal"></div>
	</div>
	<span th:include="layout :: footerFragment"></span>
	<div layout:fragment="scripts">
		<script>
			$(document).foundation();
			$(document).ready(function() {
				$('#tokenrequests').addClass('active');
				$('#show').addClass('active-link');
			});

			$("#btnExport").click(
					function(e) {
						window.open('data:application/vnd.ms-excel,'
								+ $('#tbl').html());
						e.preventDefault();
					});

			var base_url = window.location.origin;

			function getData() {
				$.ajax({
					type : "GET",
					url : "http://localhost:9006/tokenrequests/show",
					data : "",
					success : function(response) {
						console.log(response);
					}
				});
			}
			function populateData(response) {
				console.log(response.content[0]);
				var ref = {};
				$.each(response.content, function(i, request) {
					ref += response.content[i].transactionRef
					console.log(response.content[i].transactionRef)
				});
				console.log(ref)
			}
			function sendMeterNumber(meterno) {
				$.ajax({
					type : "GET",
					url : base_url + "/tokenrequests/" + meterno,
					data : "",
					success : function(response) {
						$("#requests_show").css("display", "none");
						$("#search").css("display", "block");
						$("#search").html(response).fadeIn('slow');
						console.log(response.content)
					}
				});
			}
		</script>
	</div>
</body>
</html>