<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head th:include="layout :: headerFragment">
</head>

<body>

	<div th:include="layout :: titleFragment"></div>
	<div class="full-width">
		<div th:include="layout :: menuFragment"></div>
		<div layout:fragment="content">
			<h5>TOKEN REVERSALS</h5>
			<!-- <fieldset> 
				<legend>Search Request By:</legend>

				<div class="large-3 columns">
					<label>Meter Number:</label> <input type="text" name="meter_no"
						value="" onKeyUp="sendMeterNumber(this.value)" required="required"></input>
				</div>

				<div class="large-3 columns">
					<label>Transaction Ref:</label> <input type="text"
						name="transaction_ref" value=""
						onKeyUp="sendTransactionRef(this.value)" required="required"></input>
				</div>

				<div class="large-3 columns">
					<label>Phone Number:</label> <input type="text" name="phone_no"
						value="" onKeyUp="sendPhoneNumber(this.value)" required="required"></input>
				</div>

				<div class="large-3 columns"></div>
			</fieldset>
			-->
			<fieldset>
				<legend>View Token Reversals</legend>
				<div class="row">
					<div class="large-12 columns">
						<table style="width: 100%;" id="requests_show">
							<thead>
								<tr>
									<th>Meter Number</th>
									<th>Transaction Ref</th>
									<th>Customer Message</th>
									<th>Date Requested</th>
									<th>Date Received</th>
									<th>Retries</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tokenreversal : ${tokenreversals}">
									<td th:text="${tokenreversal.meterNumber}"></td>
									<td th:text="${tokenreversal.transactionRef}"></td>
									<td th:text="${tokenreversal.message}"></td>
									<td th:text="${tokenreversal.dateRequested}"></td>
									<td th:text="${tokenreversal.dateReceived}"></td>
									<td th:text="${tokenreversal.retries}"></td>
									<td th:text="${tokenreversal.status}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<div layout:fragment="modal"></div>
	<span th:include="layout :: footerFragment"></span>
	<div layout:fragment="scripts">
		<script>
			$(document).ready(function() {
				$('#tokenreversals').addClass('active');
				$('#showtrv').addClass('active-link');
			});

			var base_url = window.location.origin;

			function getData() {
				$.ajax({
					type : "GET",
					url : "http://localhost:9006/tokenrequests/show",
					data : "",
					success : function(response) {
						console.log(response);
					}
				});
			}
			function populateData(response) {
				console.log(response.content[0]);
				var ref = {};
				$.each(response.content, function(i, request) {
					ref += response.content[i].transactionRef
					console.log(response.content[i].transactionRef)
				});
				console.log(ref)
			}
			function sendMeterNumber(meterno) {
				$.ajax({
					type : "GET",
					url : base_url + "/tokenrequests/" + meterno,
					data : "",
					success : function(response) {
						$("#requests_show").css("display", "none");
						$("#search").css("display", "block");
						$("#search").html(response).fadeIn('slow');
						console.log(response.content)
					}
				});
			}
		</script>
	</div>
</body>
</html>